a {
  width: 100%;
  height: 100%;
  color: red;
  transition: cubic-bezier();
}
.username {
  color: red;
  text-align: center;
}
p {
  color: whitesmoke;
  text-align: center;
  text-decoration: hotpink;
}
img {
  width: 100px;
  height: auto;
  border-radius: 50px;
  float: right;
  margin-right: 10px;
}
.username {
  font-weight: bold;
}
div {
  background-color: black;
}
